{
    "tabWidth": 4,
    "printWidth": 100,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,

    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
